body{
    margin: 0;
}

header{
    border: 10px solid;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top-color: #9CABEE;
}

header img{
    max-width: 100%;
}

main{
    max-width: 720px;
    margin: 0 auto;
}

main img{
    max-width: 100%;
}

main p{
    font-family: 'Zhi Mang Xing', cursive;
    text-align: center;
    padding-bottom: 80px;
    font-size: 25px;
}

.heady{
    text-align: left;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 65px;
    padding-bottom: 0px;
}

div.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -600px;
    padding-bottom: 0px;
}

.text-wrapper h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: right;
    padding-right: 25px;
    color: #ffffff;
    font-size: 160px;
}

footer{
    border: 10px solid;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top-color: #9CABEE;
    background-color: #E9A455;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 11px;
    padding-right: 30px;
    padding: 10px;
    margin: 0px;
}